
body {
    margin: 0%;
    background-color: lightblue;
    box-sizing: border-box;
    overflow: hidden;
}
#top-line {
    position: fixed;
    bottom: 85vh;
    width: 8000%;
    background-color: lightblue;        
}
#game{
    margin: 0px;
    position: absolute;
    /* height: 100vh; */
    left: 0px;
    top: 0vh;
}
#game svg{
    position: fixed;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    /*height: 480px; */
    /* width: 3360px; */
}
.fixed-top{
    position: fixed;
    height: 10%;
}
.team-head{
    position: fixed;
    left:40%;
    top:0.5%;
}
.team-display{
    position: fixed;
    top:5%;
    left: 40%;
}
.score-head{
    position: fixed;
    right:1.2%;
    top:0.5%;
}
.score-display{
    position: fixed;
    top:5%;
    right: 1%;
}
#mainNav.fixed-top {
  width: 100%;
}
.navbar-brand {
  color: #44422A;
  font-family: 'Press Start 2P','Kaushan Script', Arial, sans-serif, cursive;
}